@import "./colors.scss";
@import "./logo.scss";
@import "./variables.scss";
@import "./responsive.scss";
@import "./home.scss";

/*STYLE TEXT - MARGIN*/
.marginSections {
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin: 20px 20px;
    @include desktop {
        font-size: 1rem;
        letter-spacing: 2px;
        margin: 40px 200px;
    }
}
.marginText {
    margin: 10px 2px;
}
.weigthText {
    font-weight: 10;
}
.sizeTitle{
    font-size: 1rem;
}

.typographyPoppins {
    font-family: $font-poppins;
}
.typographyQuestrial {
    font-family: $font-questrial;
}

/*INFORMATION DIRECT*/ 
.directStyle {
    &__text {
        font-family: $font-poppins;
        font-size: 1rem;
        margin: 0px;
    }
}

/*IMAGENES*/
.imgContact {
    width: 243px;
    height: 316px;
    @include desktop {
        width: 245px;
        height: 366px;
    }
}  
.imagen {
    width: 243px;
    height: 316px;
    @include desktop {
        width: 245px;
        height: 343px;
    }
}
.img {
    width: 350px;
    height: 150px;
    @include desktop {
        width: 1094px;
        height: 200px;
    }
}

/*CONTACT*/
.marginContact {
    margin: 10px 20px
} 
.marginForm {
    margin: 15px 20px;
}
.flexMain {
    @include tablet {
        display: inline;
        flex-direction: row;
        justify-content: center;
    }
    @include desktop {
        display: flex;
    }
}
/*PRODUCTS*/
.gridProduct {
    @include desktop {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
    }
}
.fontSizeProducts {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
}
.fontSizePrice {
    font-size: 14px;
    padding: 1px;
    text-align: center;
}
.marginProduct {
    margin: 40px 50px;
}
.textMarcas {
    margin: 8px;
}

/*BOTON PRODUCTOS*/
.buttonShop {
    margin: 15px;
    @include desktop {
        margin: 0px;
    }
}